
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/ExchangeLogs/.vs/*
library/ExchangeLogs/ExchangeLogs/bin/*
library/ExchangeLogs/ExchangeLogs/obj/*

# ignore PowerShell Studio MetaData
ExchangeLogs/ExchangeLogs.psproj
ExchangeLogs/ExchangeLogs.psproj.bak
ExchangeLogs/ExchangeLogs.psprojs
ExchangeLogs/ExchangeLogs.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*